<div class="content container">
	<div class="main-content">
		<div class="row">
            <div class="col-md-12 margin-top-30">
				<div class="col-md-4 profile-content-spacer"></div>
				<div class="col-md-4 text-align-center profile-content">
					<div class="profile-avatar">
						<img src="/img/noavatar.png" />
					</div>
					<div class="form-group margin-top-25">
						<button type="button" class="btn btn-horoshiki transparent" ng-click="">
							Выбрать фото
						</button>
						<p class="hint margin-top-10">максимальный размер изображения - 1 MB</p>
					</div>
					<div class="profile-devider margin-top-35"></div>
				</div>
				<div class="col-md-4 profile-content-spacer"></div>
			</div>
		</div>
		<div class="row">
            <div class="col-md-12 margin-top-40">
				<div class="col-md-4 profile-content-spacer"></div>
				<div class="col-md-4 text-align-left profile-content">
					<div class="row">
						<div class="col-md-4">
							Логин
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<input type="text" class="form-control transparent" name="login" id="login" ng-model="currentUser.login" disabled />
							</div>
						</div>
					</div>
					<div class="row margin-top-5">
						<div class="col-md-4">
							Ваше имя
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<input type="text" class="form-control" name="name" id="name" ng-model="currentUser.name" />
							</div>
						</div>
					</div>
					<div class="row margin-top-5">
						<div class="col-md-4">
							Почта
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<input type="text" class="form-control" name="mail" id="mail" ng-model="currentUser.mail" />
							</div>
						</div>
					</div>
					<div class="row margin-top-5 profile-password-wide">
						<div class="col-md-4">
							Пароль
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<a href="#">Изменить</a>
							</div>
						</div>
					</div>
					<div class="row margin-top-15">
						<div class="col-md-4">
							Дата рождения
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-xs-4 col-md-4 profile-birthday-btn-c first">
									<div class="btn-group profile-birthday-btn">
										<button type="button" class="btn btn-horoshiki-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="float-left">День</span><i class="fa fa-angle-down float-right"></i>
										</button>
										<ul class="dropdown-menu">
											<li>1</li>
											<li>2</li>
											<li>3</li>
										</ul>
									</div>
								</div>
								<div class="col-xs-4 col-md-4 profile-birthday-btn-c center">
									<div class="btn-group profile-birthday-btn">
										<button type="button" class="btn btn-horoshiki-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="float-left">Месяц</span><i class="fa fa-angle-down float-right"></i>
										</button>
										<ul class="dropdown-menu">
											<li>январь</li>
											<li>февраль</li>
										</ul>
									</div>
								</div>
								<div class="col-xs-4 col-md-4 profile-birthday-btn-c last">
									<div class="btn-group profile-birthday-btn">
										<button type="button" class="btn btn-horoshiki-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="float-left">Год</span><i class="fa fa-angle-down float-right"></i>
										</button>
										<ul class="dropdown-menu">
											<li>1933</li>
											<li>1956</li>
											<li>1952</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-top-20">
						<div class="col-md-4">
							Пол
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-xs-12">
									<div class="btn-group profile-sex">
										<button type="button" class="btn btn-horoshiki-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="float-left">Пол</span><i class="fa fa-angle-down float-right"></i>
										</button>
										<ul class="dropdown-menu">
											<li>Мужской</li>
											<li>Женский</li>
											<li>Не помню</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="profile-devider margin-top-35"></div>
				</div>
				<div class="col-md-4 profile-content-spacer"></div>
			</div>
		</div>
		<div class="row profile-password-phone">
            <div class="col-md-12 margin-top-30">
				<div class="col-md-4 profile-content-spacer"></div>
				<div class="col-md-4 text-align-left profile-content">
					<div class="row">
						<div class="col-md-4">
							Пароль
						</div>
						<div class="col-md-8">
							<button type="button" class="btn btn-horoshiki transparent" ng-click="">
								Изменить пароль
							</button>
						</div>
					</div>
					<div class="profile-devider margin-top-35"></div>
				</div>
				<div class="col-md-4 profile-content-spacer"></div>
			</div>
		</div>
		<div class="row">
            <div class="col-md-12 margin-top-40">
				<div class="col-md-4 profile-content-spacer"></div>
				<div class="col-md-4 text-align-left profile-content">
					<div class="row">
						<div class="col-md-4 profile-xs-h">
							Контактный телефон
						</div>
						<div class="col-md-8">
							<p ng-repeat="phone in currentUser.phones">{{phone.phone}} 
								<span class="hint" ng-if="phone.phone==currentUser.login">(используется для входа)</span>
							</p>
							<div class="form-group">
								<a href="#">Изменить</a>
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-horoshiki transparent" ng-click="">
									Добавить телефон
								</button>
							</div>
						</div>
					</div>
					<div class="row margin-top-35">
						<div class="col-md-4 profile-xs-h">
							Адрес доставки
						</div>
						<div class="col-md-8">
							<div class="margin-bottom-30" ng-repeat="address in currentUser.addresses">
								<p>{{address.address}}
									<span ng-if="address.intercom.length>0">, домофон {{address.intercom}}</span></p>
									<span ng-if="address.storey.length>0">, этаж {{address.storey}}</span></p>
									<span ng-if="address.access.length>0">, подъезд {{address.access}}</span></p>
									<span ng-if="address.apartment.length>0">, кв. {{address.apartment}}</span></p>
									<span class="hint" ng-if="address.comment.length>0">({{address.comment}})</span>
								</p>
								<div class="form-group">
									<a href="#" data-toggle="modal" data-target="#addAddressModal" ng-click="addAddressModal(address)">Изменить</a>
								</div>
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-horoshiki transparent" data-toggle="modal" data-target="#addAddressModal" ng-click="addAddressModal(null)">
									Добавить адрес
								</button>
							</div>
						</div>
					</div>
					<div class="profile-devider margin-top-25"></div>
				</div>
				<div class="col-md-4 profile-content-spacer"></div>
			</div>
		</div>
		<div class="row">
            <div class="col-md-12 margin-top-30">
				<div class="col-md-4 profile-content-spacer"></div>
				<div class="col-md-4 text-align-left profile-content">
					<div class="row">
						<div class="col-md-4 profile-xs-h">
							Подтверждение заказа
						</div>
						<div class="col-md-8 profile-radio">
							<div class="form-group">
								<input type="radio" name="confirm" id="confirm-1" value="" />
								<label for="confirm-1">Звонок оператора</label>
							</div>
							<div class="form-group">
								<input type="radio" name="confirm" id="confirm-2" value="" checked />
								<label for="confirm-2">По SMS без звонка</label>
							</div>
						</div>
					</div>
					<div class="row margin-top-20">
						<div class="col-md-4 profile-xs-h">
							SMS с статусом заказа
						</div>
						<div class="col-md-8 profile-radio">
							<div class="form-group">
								<input type="radio" name="smsstat" id="smsstat-1" value="" checked />
								<label for="smsstat-1">Информировать</label>
							</div>
							<div class="form-group">
								<input type="radio" name="smsstat" id="smsstat-2" value="" />
								<label for="smsstat-2">Не информировать</label>
							</div>
						</div>
					</div>
					<div class="row margin-top-20">
						<div class="col-md-4 profile-xs-h">
							Подписка на полезные новости
						</div>
						<div class="col-md-8 profile-radio">
							<div class="form-group">
								<input type="radio" name="subscription" id="subscription-1" value="" checked />
								<label for="subscription-1">Да</label>
							</div>
							<div class="form-group">
								<input type="radio" name="subscription" id="subscription-2" value="" />
								<label for="subscription-2">Нет</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 profile-content-spacer"></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal add address -->
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
				<h3 class="modal-title" id="addAddressModalLabel" ng-if="newAddress.isNew == true">Добавить адрес</h3>
				<h3 class="modal-title" id="addAddressModalLabel" ng-if="newAddress.isNew == false">Изменить адрес</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<span>Улица</span>
						<div class="form-group">
							<input type="text" class="form-control" name="address" id="address" ng-model="newAddress.address" ng-change="validateAddress()" />
							<code class="ng-hide" ng-show="newAddress.error.address==true">Введите адрес доставки</code>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<span>Домофон</span>
						<div class="form-group">
							<input type="text" class="form-control" name="intercom" id="intercom" ng-model="newAddress.intercom" />
						</div>
					</div>
					<div class="col-xs-6 col-md-6">
						<span>Этаж</span>
						<div class="form-group">
							<input type="text" class="form-control" name="storey" id="storey" ng-model="newAddress.storey" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<span>Подъезд</span>
						<div class="form-group">
							<input type="text" class="form-control" name="access" id="access" ng-model="newAddress.access" />
						</div>
					</div>
					<div class="col-xs-6 col-md-6">
						<span>Квартира/офис</span>
						<div class="form-group">
							<input type="text" class="form-control" name="apartment" id="apartment" ng-model="newAddress.apartment" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a href="#" ng-click="addAddressModalShowComment()">Добавить комментарий к адресу</a>
						<textarea ng-show="newAddress.showComment==true" type="text" class="form-control margin-top-10" name="comment" id="comment" ng-model="newAddress.comment" ></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-horoshiki transparent float-left" data-dismiss="modal" ng-disabled="newAddress.error.address || newAddress.address.length == 0" ng-click="addAddressModalSubmit()">
					Сохранить
				</button>
			</div>
		</div>
	</div>
</div>
