<div class="content container">
	<div class="main-content">
		<div class="row">
            <div class="col-md-12 margin-top-30">
				<div class="col-md-4 profile-content-spacer"></div>
				<div class="col-md-4 text-align-center profile-content">
					<div class="profile-avatar">
						<img src="/img/noavatar.png" />
					</div>
					<div class="form-group margin-top-25">
						<button type="button" class="btn btn-horoshiki transparent" ng-click="">
							Выбрать фото
						</button>
						<p class="hint margin-top-10">максимальный размер изображения - 1 MB</p>
					</div>
					<div class="profile-devider margin-top-35"></div>
				</div>
				<div class="col-md-4 profile-content-spacer"></div>
			</div>
		</div>
		<div class="row">
            <div class="col-md-12 margin-top-40">
				<div class="col-md-4 profile-content-spacer"></div>
				<div class="col-md-4 text-align-left profile-content">
					<div class="row">
						<div class="col-md-4">
							Логин
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<input type="text" class="form-control" name="login" id="login" ng-model="currentUser.login" disabled />
							</div>
						</div>
					</div>
					<div class="row margin-top-5">
						<div class="col-md-4">
							Ваше имя
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<input type="text" class="form-control" name="name" id="name" ng-model="currentUser.name" />
							</div>
						</div>
					</div>
					<div class="row margin-top-5">
						<div class="col-md-4">
							Почта
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<input type="text" class="form-control" name="mail" id="mail" ng-model="currentUser.mail" />
							</div>
						</div>
					</div>
					<div class="row margin-top-5">
						<div class="col-md-4">
							Пароль
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<a href="#">Изменить</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 profile-content-spacer"></div>
			</div>
		</div>
	</div>
</div>
