<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




       <bean id="userDAO" class="ru.horoshiki.crm.site.dao.UserDAOImpl">
              <constructor-arg>
                     <ref bean="sessionFactory"/>
              </constructor-arg>
       </bean>
       <bean id="userRoleDAO" class="ru.horoshiki.crm.site.dao.UserRoleDAOImpl">
              <constructor-arg>
                     <ref bean="sessionFactory"/>
              </constructor-arg>
       </bean>
       <bean id="testDBDAO" class="ru.horoshiki.crm.site.dao.TestDBDAOImpl">
              <constructor-arg>
                     <ref bean="sessionFactory"/>
              </constructor-arg>
       </bean>




       <bean id="userService" class="ru.horoshiki.crm.site.service.UserServiceImpl">
              <property name="dao" ref="userDAO"/>
       </bean>
       <bean id="userRoleService" class="ru.horoshiki.crm.site.service.UserRoleServiceImpl">
              <property name="dao" ref="userRoleDAO"/>
       </bean>
       <bean id="testDBService" class="ru.horoshiki.crm.site.service.TestDBServiceImpl">
              <property name="dao" ref="testDBDAO"/>
       </bean>

       <!--<bean id="balancerAPI" class="ru.spacecam.vsp.api.balancer.BalancerConfigurationAPI">-->
              <!--<constructor-arg name="httpClientService" ref="httpClientService"/>-->
              <!--<constructor-arg name="httpDataSource" ref="httpDataSource"/>-->
       <!--</bean>-->

       <bean id="httpClientService" class="ru.horoshiki.crm.httpclient.ApacheHttpClientService"/>

       <bean id="httpDataSource" class="ru.horoshiki.crm.httpclient.HttpDataSource">
              <property name="host" value="smsc.ru"></property>
              <property name="port" value="443"></property>
              <property name="scheme" value="https"></property>
       </bean>

       <bean id="smsSender" class="ru.horoshiki.crm.sendsms.SmsSenderSmscImpl">
              <constructor-arg name="httpClientService" ref="httpClientService"/>
              <constructor-arg name="httpDataSource" ref="httpDataSource"/>
              <constructor-arg name="login" value="horoshiki2"/>
              <constructor-arg name="password" value="Horozsm0"/>
       </bean>


       <!--listeners-->
       <bean id="userListener" class="ru.horoshiki.crm.site.listener.UserListener"></bean>

</beans>